:root {
    background-color: #aae7aa;
    font-size: 65%;
}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: black;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    color: rgb(80, 22, 114);
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 90px auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}


/* BUTTONS*/

.btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 23rem;
    text-align: center;
    border: 0.2rem solid rgb(59, 59, 117);
    margin-bottom: 3rem;
    text-decoration: none;
    color: rgb(59, 59, 117);
    background-color: rgb(234, 223, 223);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1.5rem 0 rgb(23, 23, 85);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

input {
    margin-bottom: 5rem;
    font-size: 2rem;
    padding: 1rem 0;
    width: 23rem;
    padding: 2rem;
    border: none;
    box-shadow: 0 0.3rem 1.5rem 0 rgb(23, 23, 85);
    border-radius: 20px;
}

#message {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 6rem;
    text-align: center;
}