


.choice-container {
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 2rem;
    border: 0.2rem solid rgb(41, 38, 38);
    background-color: blanchedalmond;
    border-radius: 20px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1.5rem 0 rgb(23, 23, 85);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: rgb(38, 171, 38);
}

.incorrect {
    background-color: rgb(190, 18, 18);
}

#progress {
    display: flex;
    justify-content: space-between;
}

#progress-question, #progress-score {
    #progress-question, #progress-score {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.progress-prefix {
    text-align: center;
    font-size: 2.5rem;
}

.progress-main-text {
    text-align: center;
}

#progressBar {
    width: 18rem;
    height: 5rem;
    border-radius: 20px;
    border: 0.2rem solid  rgb(80, 22, 114);
    margin-top: 1.4rem;
}

#progressBarFull {
    height: 100%;
    background-color: rgb(80, 22, 114); /* Progress bar fill color */
    border-radius: 17px;
    width: 0%;  
     
}

@media screen and (max-height: 480px) {
    #question {
        font-size: 1.5rem; /* Adjust as needed */
        padding-top: 5px; /* Reduce top padding */
    }

    
}