#topScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#topScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 5rem;
}

.top-score {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}

.top-score:hover {
    transform: scale(1.05);
}